*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;

}


.col-md-1{
    width: 60px;
    min-width: 60px;
    height: 100vh;
    background-color: #45C47B;
    overflow-y:auto;
}
.col-md-12{
    width: 100%;
}
nav{
    width: 65px;
    /* display: flex; */

    /* align-content: space-between; */
    /* align-items: center;
    justify-content: center;
    flex-wrap: wrap; */
    /* text-align: center; */
    
    min-width: 65px;
   
}
nav div{
    margin: 10px 10px;
}
nav img{
    width: 45px;
    height: 45px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header{
    border-bottom: 1px solid blue;
    display: flex;
    align-items: center;


}

 /* [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
} */
 nav img{
     width: 30px;
     height: 30px;
     margin: 10px;
 }

 .conteiner{
     padding: 5px;
     display: flex;
     flex-wrap: wrap;
     /* justify-content: center; */
     align-items: center;
     /* flex-direction: column; */
     font-size: 15px;

 }

 .user_icon{
     padding: 5px;
 }
 nav a{
     display: block;
     height: 100%;
     width: 100%;
 }


 .user:hover a img{
     background-color: rgb(114, 129, 114);
     
     
 }
 /* }
  .user:hover .user a{
    background:url('img/Uses_active.png');
  }  */
footer{
    width: 100%;
    border-radius: 0px 2px 2px 0px;
    background-color: #45C47B;
    text-align: left;
     padding: 4px 5px; 
     display: flex;
     flex-wrap: wrap;

     font-size: 8px;
}

.main-conteiner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}